<div class="page">
  <h1 class="page__title">Welcome to Valorant Agents</h1>
  <div class="page__content">
    <h2>What is Valorant Agents?</h2>
    <p>
      Valorant Agents is a project meant to channel my love of the Valorant
      first person shooter to learn how to create web applications using
      Angular. I do not own any of the material on this website. All art work
      and character information is taken from the
      <a href="playvalorant.com">Riot Games Valorant Website</a>.
    </p>
  </div>
</div>
