@import "utils";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $red;
  border-radius: $radius-xl;
  margin: 0 $space-l $space-l $space-l;
  font-family: $family-brand;
}

.characterIcon {
  height: 280px;
  margin: auto;
  align-items: center;
  margin: $space-l;
}

.agentName {
  text-align: center;
  font-size: $space-l;
}
