@import "utils";

h1 {
  font-family: $family-brand;
}

h1:focus {
  outline: none;
}

.header {
  color: white;
  background-color: black;

  padding: $space-xl;
  margin: $space-l;
  border-radius: $radius-xl;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

button {
  color: white;
  background-color: black;
  padding: $space-xs;
  border: $size-border-s solid white;
  border-radius: $radius-s;
  width: $space-xxl;
  text-align: center;
  margin: $space-xxs $space-m $space-xxs 0;
}

@media only screen and (max-width: 570px) {
  button {
    display: none;
  }

  .header {
    display: flex;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    height: 40px;
    justify-content: center;
    align-content: center;
  }
}
