.header {
    color: white;
    background-color: black;

    padding: 50px;
    margin: 10px 40px;
    border-radius: 5px;

}

.mat-container {
    
  }
  
  .mat-sidenav-content {

  }
  
  .mat-sidenav {
    width: 20%;
  }