@import "utils";

h1 {
  font-family: $family-brand;
}

.header {
  color: white;
  background-color: black;

  padding: $space-xl;
  margin: $space-l;
  border-radius: $radius-xl;
}

nav {
  display: flex;
  justify-content: space-between;
}

button {
  color: white;
  background-color: black;
  padding: $space-xs;
  border: $size-border-s solid white;
  border-radius: $radius-s;
  width: $space-xxl;
  text-align: center;
  margin: $space-xxs $space-m $space-xxs 0;
}

.mat-container {
}

.mat-sidenav-content {
}

.mat-sidenav {
  width: 20%;
}
