<div class="navbar">
  <h1 class="navbar__title" [routerLink]="['']">Valorant Agents</h1>

  <ul class="navbar__links">
    <li
      class="navbar__links__item"
      routerLink="agents"
      routerLinkActive="Active"
    >
      Agents
    </li>
    <li
      class="navbar__links__item"
      routerLink="valorant-theater"
      routerLinkActive="Active"
    >
      Theater
    </li>
  </ul>

  <mat-form-field color="warn" class="navbar__select">
    <mat-label class="navbar__label">Pick An Agent</mat-label>
    <mat-select>
      <mat-option
        class="navbar__select__option"
        *ngFor="let agent of agents"
        [routerLink]="['/agent-detail', agent.name]"
        routerLinkActive="Active"
      >
        {{ agent.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
