/* BORDERS (formerly RADII)
   ========================================================================== */

$radius-s: 0.125rem; // 2pt  (px)
$radius-m: 0.1875rem; // 3pt  (px)
$radius-l: 0.375rem; // 6pt  (px)
$radius-xl: 0.75rem;

$size-border-s: 0.0625rem; /* 1pt */
$size-border-m: 0.125rem; /* 2pt */
$size-border-l: 0.1875rem; /* 3pt */
$size-border-xl: 0.25rem; /* 4pt */
$size-border-xxl: 0.5rem; /* 8pt */
