@import "utils";
$text-m: 1.2rem;

// Desktop devices
.container {
  display: grid;
  grid-gap: $space-s;
  grid-template-columns: auto auto auto;
  margin: $space-l;
}

.item {
  background-color: lightgray;
  //border: $size-border-l solid black;
  border-radius: $radius-xl;
  text-align: center;
  box-shadow: 0px 2px 5px black;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 100px;
  font-family: $family-brand;
  font-size: 40px;
  padding: $space-l 0 $space-l 0;

  display: flex;
  justify-content: space-around;
}

.photo {
  border: none;
  background-color: $red;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  & img {
    height: 500px;
    padding: $space-l;
  }
}

.ability {
  background-color: #bbbbbb;
  padding: $space-s $space-m;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: $text-m;

  .abilityName {
    border: 1px solid $red;
    background-color: $red;
    border-radius: $radius-m;
    padding: $space-l $space-xl;
  }
}

.bio {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  height: auto;

  text-align: left;
  padding: $space-l $space-xl;
  font-size: $text-m;
  line-height: $space-l;
}

// Mobile devices
@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header {
    flex-direction: column;
    height: auto;
    margin: 0;
  }

  .ability {
    height: 20vh;
    font-size: 1rem;
  }
  .abilityName {
    max-height: 1vh;
  }
}

.player {
  height: 30vh;
  width: 60vw;
}
