$RED: #fa4454;

.container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto auto auto;
  padding: 10px 40px;
}

.item {
  background-color: lightgray;
  border: 4px solid black;
  border-radius: 10px;
  text-align: center;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 100px;
  font-family: ValorantFont;
  font-size: 40px;
  padding: 50px 0px 0px 0px;
}

.photo {
  border: none;
  background-color: $RED;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  & img {
    height: 500px;
    padding: 25px;
  }
}

.ability {
  background-color: #bbbbbb;
  padding: 10px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;

  .abilityName {
    border: 1px solid $RED;
    background-color: $RED;
    border-radius: 5px;
  }
}

.bio {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  height: 100px;
}
