@import "utils";

.agent {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  margin: $space-s $space-l;
  row-gap: 10px;
  column-gap: 10px;
  background: #4a4a50;
  border-radius: $radius-l;

  &__header {
    grid-column: 1/3;
    grid-row: 1/2;

    color: white;
    background: black;
    border-top-left-radius: $radius-l;
    border-top-right-radius: $radius-l;
    width: 100%;
    font-size: 3rem;
    font-family: $family-brand;
    padding: $space-l;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__image img {
    margin-left: $space-xl;
    height: 85vh;
    grid-column: 1/2;
    grid-row: 2/4;
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/4;
    color: white;

    &__role {
      padding: $space-l $space-xl 0;
      margin-bottom: 10px;
      line-height: 2;
      font-size: 1.2rem;
    }

    &__bio {
      padding: $space-l $space-xl;
      margin-bottom: 10px;
      line-height: 2;
      font-size: 1.2rem;
    }

    &__abilities {
      padding: $space-s $space-xl;
      margin-bottom: 10px;
      line-height: 2;
      font-size: 1.2rem;
    }
  }
}
