/* You can add global styles to this file, and also import other style files */
body {
    background-color: #dc3d4b;
    font-family: 'ValorantFont';
}

@font-face {
    font-family: 'ValorantFont';
    src: url(./assets/fonts/ValorantFont.ttf) format("opentype");
}